@inject shift_dashboard.Models.DashboardConfig dashboarconfig

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    string addressSaved = null;
    var controller = ViewContext.RouteData.Values["Controller"];
    var action = ViewContext.RouteData.Values["Action"];
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>@(dashboarconfig.ApplicationName) </title>

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="@Url.Content("~/css/all.css")" />
    <link rel="icon" href="@Url.Content("~/img/favicon.ico")" />


    <!-- IonIcons -->
    <link rel="stylesheet" href="@Url.Content("~/css/ionicons.min.css")" />

    <!-- Pace Progressbar-->
    <link rel="stylesheet" href="@Url.Content("~/css/pace-theme-minimal.css")" />

    <!-- Theme style -->
    <link rel="stylesheet" href="@Url.Content("~/css/adminlte.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/skin-midnight.min.css")" />

    <!-- jquery -->
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-ui.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/jquery-jvectormap.css")" />

    <!-- Datatable -->
    <link rel="stylesheet" href="@Url.Content("~/css/dataTables.bootstrap4.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/responsive.bootstrap4.min.css")" />
    <link rel="stylesheet" href="@Url.Content("~/css/fixedHeader.bootstrap4.min.css")" />

    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition sidebar-mini skin-midnight">
    <div class="wrapper">
        <nav class="main-header navbar navbar-expand border-bottom">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars"></i></a>
                </li>
            </ul>

            <!-- DELEGATE SEARCH FORM -->
            @using (Html.BeginForm(action.ToString(), controller.ToString(), FormMethod.Get, new { @class = "form-inline ml-auto" }))
            {
                if (ViewBag.Searchtext == null)
                {
                    addressSaved = HttpContextAccessor.HttpContext.Request.Cookies["addr"];
                }
                else
                {
                    addressSaved = ViewBag.SearchText;
                }

                <div class="right-menu list-inline ml-3">
                    <div class="box input-group">
                        @if (addressSaved == null)
                        {
                            <input class="form-control form-control-navbar" type="search" placeholder="Delegates/Account" id="address" name="address">
                        }
                        else
                        {
                            <input class="form-control form-control-navbar" type="search" value="@addressSaved" id="address" name="address">
                        }
                        <span class="box input-group-append">
                            <button class="box btn btn-navbar" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </div>
            }
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="/" class="brand-link">
                <img src="@Url.Content("~/img/shift.png")" alt="@(dashboarconfig.ApplicationName) Logo" class="brand-image img-circle elevation-3" style="opacity: .8" />
                <span class="brand-text font-weight-light">@(dashboarconfig.ApplicationName)</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">

                <!-- sidebar Menu -->
                <nav class="mt-2">

                    <!-- Key Info-->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-sitemap"></i>
                                <p>
                                    Key Info
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Web Site</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/ShiftNrg" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Github</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://medium.com/shiftnrg" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Medium</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://explorer.shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Explorer</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>

                    <!-- Wallets-->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-wallet"></i>
                                <p>
                                    Wallets
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://wallet.shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Web</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/ShiftNrg/shift-nano/releases/tag/v2.3.0/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Desktop</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://github.com/ShiftNrg/shift-paperwallet" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Paper</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://explorer.shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Explorer</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Explorer-->
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fa fa-object-group"></i>
                                <p>
                                    Explorer
                                    <i class="right fa fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="https://explorer.shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-green"></i>
                                        <p>Mainnet</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="https://explorer.testnet.shiftnrg.org/" target="_blank" rel="noopener noreferrer" class="nav-link">
                                        <i class="fa fa-play-circle nav-icon text-warning"></i>
                                        <p>Testnet</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
          
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        @RenderBody()



    <footer class="main-footer">
        <div class="float-right d-sm-none d-md-block text-sm">
            <strong>Copyright &copy; 2021&nbsp;</strong>
        </div>
        <br />
    </footer>

        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
    </div>

    <!-- REQUIRED SCRIPTS -->

    <!-- fontawesome -->
    <script src="@Url.Content("~/js/all.js")"></script>

    <!-- jQuery -->
    <script src="@Url.Content("~/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-ui.min.js")"></script>
    <script src="@Url.Content("~/js/jquery-jvectormap.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.sparkline.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.knob.min.js")"></script>
    <script src="@Url.Content("~/js/jquery.ui.touch-punch.min.js")"></script>

    <!-- Bootstrap -->
    <script src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>

    <!-- Datable Bootstrap -->
    <script src="@Url.Content("~/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/js/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("~/js/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/js/fixedHeader.bootstrap4.min.js")"></script>

    <!-- AdminLTE -->
    <script src="@Url.Content("~/js/adminlte.min.js")"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="@Url.Content("~/js/Chart.min.js")"></script>
    <script src="@Url.Content("~/js/pace.min.js")"></script>

    @RenderSection("Scripts", required: false)

    <script type="text/javascript">
        $.ajaxSetup({ cache: false });
        $.ui.autocomplete.prototype._renderItem = function (ul, item) {
            item.label = item.label.replace(new RegExp("(?![^&;]+;)(?!<[^<>]*)(" + $.ui.autocomplete.escapeRegex(this.term) + ")(?![^<>]*>)(?![^&;]+;)", "gi"), "<strong>$1</strong>");
            return $("<li></li>")
                .data("item.autocomplete", item)
                .append("<a>" + item.label + "</a>")
                .appendTo(ul);
        };
        $.ajax({
            url: '@Url.Action("GetDelegates","Home")',
            cache: false,
            success: function(result) {
                $("#address").autocomplete({
                    source: result,
                    open: function () {
                        setTimeout(function () {
                            $('.ui-autocomplete').css('z-index', 9999999).css('!important');
                        }, 0);
                    }
                }).css('z-index', 2000);
            }
        });
    </script>
</body>
</html>