@using shift_dashboard.Models

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject shift_dashboard.Models.DashboardConfig dashboardconfig
@model shift_dashboard.Models.Delegate[]

@{
    ViewData["Title"] = dashboardconfig.ApplicationName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@dashboardconfig.ApplicationName</title>

@section Scripts
    {
    <!-- Initialize Data Table-->
    <script type="text/javascript">
        $(document).ready(function () {
            $('#tdelegates').DataTable({
                "pageLength": 101,
                "order": [[0, "asc"]],
                "autoWidth": true,
                responsive: {
                    details: {
                        type: 'column',
                        target: -1
                    }
                },
                columnDefs: [{
                    className: 'control',
                    orderable: false,
                    targets: -1
                }]
            });
        });
    </script>
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h3><img src="@Url.Content("~/img/shift.png")" alt="shift Logo" class="brand-image img-circle elevation-3" style="opacity: .8" height="30" />@(dashboardconfig.ApplicationName)</h3>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Index</li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <section class="content">

        <!-- Start Delegate Table-->
        <!-- Main content -->
        <div class="row">
            <div class="col-12">
                <div class="box card">
                    <div class="card-header">
                        <h3 class="card-title">Shift Delegates</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="tdelegates" class="table display dt-responsive" style="width:100%">
                                <thead>
                                    <tr>
                                        <th align-middle data-priority="1">Rank</th>
                                        <th align-middle data-priority="2" class="align-middle">Username</th>
                                        <th align-middle data-priority="6" class="align-middle">Addresse</th>
                                        <th align-middle data-priority="4" class="align-middle">NBVoters</th>
                                        <th align-middle data-priority="3" class="align-middle">24H Rank Change</th>
                                        <th align-middle data-priority="5" class="align-middle">24H Votes Change</th>
                                        <th align-middle data-priority="0" class="align-middle"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var d in Model)
                                    {
                                    <tr>
                                        <td class="align-middle"><h5><strong>@d.Rank</strong></h5></td>
                                        <td class="align-middle"><h5><small class="text-muted">@d.Username</small></h5></td>
                                        <td class="align-middle"><h5><small><span class="text-muted"><a href="https://explorer.shiftnrg.org/address/@d.Address} " target="_blank">@d.Address</a></span></small></h5></td>
                                        <td class="align-middle"><h5><small class="text-muted">@d.NbVoters</small></h5></td>
                                        @if (d.Rank24Change >= 0)
                                        {

                                            <th align-middle data-priority="4" class="align-middle text-success">@d.Rank24Change</th>
                                        }
                                        else
                                        {
                                            <th align-middle data-priority="4" class="align-middle text-danger">@d.Rank24Change</th>
                                        }
                                        @if (d.Votes24Change >= 0)
                                        {
                                            <th align-middle data-priority="4" class="align-middle text-success">@d.Votes24Change.ToString("N0")</th>
                                        }
                                        else
                                        {
                                            <th align-middle data-priority="4" class="align-middle text-danger">@d.Votes24Change.ToString("N0")</th>
                                        }
                                        <td></td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- ./Delegate Table-->
    </section>
</div>